[submodule "oh-my-zsh.symlink"]
	path = oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux.symlink/plugins/tmp"]
	path = tmux.symlink/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux.symlink/plugins/tpm"]
	path = tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm